Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

#Redirect on https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Добавляем другой запрос /frontend/web/$1
RewriteCond %{REQUEST_URI} !^/(backend/web|admin)
RewriteRule (.*) /backend/web/$1

# Если backend запрос
RewriteCond %{REQUEST_URI} ^/backend/web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /backend/web/index.php